@tailwind base;
@tailwind components;
@tailwind utilities;

.transition-name {
	transform: scale(1);
	view-transition-name: var(--recipe-name);
	transition: transform 1s ease-in-out;
}

.transition-image {
	view-transition-name: var(--recipe);
	transition: transform 1s ease-in-out;
}
