@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.input {
		@apply h-10 w-full rounded-sm bg-gray-500 p-2 text-xl text-white placeholder:text-gray-300 hover:bg-gray-500-hover focus:outline-none focus:ring-2 focus:ring-gray-300;
	}
}


/*Prevent mobile scrolling*/
body {
	overscroll-behavior-y: none !important;
	overflow: hidden;
}
html, body {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

body > div {
	height: 100%;
	overflow: scroll;
	-webkit-overflow-scrolling: touch;
}


.transition-name {
	transform: scale(1);
	view-transition-name: var(--recipe-name);
}

.transition-image {
	view-transition-name: var(--recipe);
}
